<a href="https://colab.research.google.com/github/OHKANGEUN/22_05_basic_python/blob/main/22_2_Py_cen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

19. 다음 보기의 사칙연산을 완성하시오. 한줄에 모두, 여러줄로 나누어서,보기좋게 정리.

In [1]:
print(1+2,2-3.3+4,4/4)
print(1+2)
print(2-3)
print(3*4)
print(4/4)

3 2.7 1.0
3
-1
12
1.0

20.보기좋게 코딩하시오.
**********************************
* 제 1조 1항 대한민국은 민주공화국이다. *
**********************************

In [3]:
print("*"*40)
print("* 제1조 1항 대한민국은 민주공화국이다. *")
print("*"*40)

****************************************
* 제1조 1항 대한민국은 민주공화국이다. *
****************************************

21.사용자에게 성명,나이,주소를 입력받아서 출력하라.

In [7]:
name=input("이름을 입력하시오.:")
age=input("나이를 입력하시오.:")
addr=input("주소를 입력하시오.:")
print(name)
print(age)
print(addr)
print(name,age,addr)

이름을 입력하시오.:오강은
나이를 입력하시오.:20
주소를 입력하시오.:전북 익산시 동서로300
오강은
20
전북 익산시 동서로300
오강은 20 전북 익산시 동서로300

29.

In [10]:
n1=input("첫번째 정수를입력하시오.:")
n2=input("두번째 정수를입력하시오.:")
print("두 합의 값은",n1+n2,"입니다.")

첫번째 정수를입력하시오.:100
두번째 정수를입력하시오.:100
두 합의 값은 100100 입니다.

In [11]:
n1=int(input("첫번째 정수를입력하시오.:"))
n2=int(input("두번째 정수를입력하시오.:"))
print("두 합의 값은",n1+n2,"입니다.")

첫번째 정수를입력하시오.:100
두번째 정수를입력하시오.:100
두 합의 값은 200 입니다.